<div class="row">
    <div class="col-md-6 col-md-offset-3">
        
        <h1>Contact</h1>
        <hr>

        <form>

            <div>
                <label>Name</label>
                <input type="text" class="form-control" required="true">
            </div>
            <br>
            <div>
                <label>Email</label>
                <input type="email" class="form-control" required="true">
            </div>
            <br>
            <div>
                <label>Message</label>
                <textarea class="form-control" rows="4" required="true"></textarea>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </div>

        </form>
    
    </div>
</div>

