<div class="row">
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Available Persons</div>
            <div class="panel-body">
                <input type="text" ng-model="search" placeholder="Search" class="form-control">
                <br>
                <table class="table table-striped table-hover">
                    <tr class="heading">
                        <td ng-click="sortType = 'id'; sortReverse = !sortReverse"><strong>ID</strong></td>
                        <td ng-click="sortType = 'name'; sortReverse = !sortReverse"><strong>Name</strong></td>
                    </tr>
                    <tr ng-repeat="person in persons | orderBy:sortType:sortReverse | filter: search">
                        <td>{{person.id}}</td>
                        <td>{{person.name}}</td>
                    </tr>
                </table>
            </div>
        </div>    
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Pass Data to Story</div>
            <div class="panel-body">
                <input type="text" ng-model="data.title" class="form-control" placeholder="Enter Title"/>
                <br>
                <textarea ng-model="data.message" class="form-control" placeholder="Enter Message" rows="4"></textarea>
                <br>
                <!-- This Input Field only takes Integers-->
                <input type="text" ng-model="data.number" numbers-only="numbers-only" class="form-control" placeholder="Enter Numbers"/>
            </div>
        </div>
    </div>
    
</div>

